# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Environment variables
.env

# Build and output directories
dist/
build/

# IDE-specific files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Debugging files
*.log
*.coverage

# Temporary files
tmp/
temp/

# Docker
docker-compose.override.yml

# Testing
coverage/

# Optional npm cache directory
.npm

# Miscellaneous
*.lock
*.bak
*.backup

#Other
.env
views
